/* custom block quote style */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 12px;
}
blockquote p {
  display: inline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
